

h1 {
    margin-bottom: 30px;
}

#submit {
    width: 150px;

    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    background-color: #4da6ff;
}

#title,#date {
    width: 300px;
    margin-bottom: 10px;
    height: 20px;
}

p {
    margin-bottom: 10px;
}

#stock {
    margin-bottom: 20px;
    width: 180px;
    height: 20px;

}

.select {
    display: none;
}

.message {
    color: red;
}