body {
    background-color: #888888;
    color: rgb(254, 254, 255);
}

.contents{
    margin-top:100px;
    text-align: center;
}

.line{
    color: rgb(254, 254, 255);
    border-color: rgb(254, 254, 255);
    background-color:  rgb(254, 254, 255);
}