body {
    min-height: 100%;
    height: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#wrapper {
    width: 400px;
    margin: 0 auto;
}

.header {
    height: 100px;
    background-color: #141f40;
}

.left {
    background-color: #80bfa8;
    width: 150px;
    float: left;
    height: 250px;
}

.right {
    width: 250px;
    float: right;
}

.top-left {
    float: left;
}

.top-right {
    float: right;
    height: 150px;
    width: 100px;
    background-color:#ff9e6b ;
}

.top-left-top {
    width: 150px;
    background-color: #dbd400;
    height: 50px;
}

.top-left-bottom {
    width: 150px;
    background-color: #0093b7;
    height: 100px;
}

.right-bottom {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.footer {
    height: 100px;
    background-color: #d98d30;
}

*{
    margin: 0;
    padding: 0;
}
